
params {
    id        = ''
    ped       = ''
    bams      = ''
    ref_fasta = ''
    assembly   = 'hg38'
    chr_prefix = null   // null = auto: 'chr' for hg38, '' for hg19
    // Order also defines caller priority for per-sample merging:
    // the first caller's records are preferred by truvari --keep first.
    callers   = ['MANTA', 'SMOOVE', 'CNVNATOR']
    delly_excl = ''   // optional: BED of regions to exclude (telomeres/centromeres)
    delly_map  = ''   // required for DELLY_CNV: mappability map (.fa.gz)
    familial = true
    copy_ref  = false
    copy_bams = false
    outdir    = 'output'
    progdir   = 'progress'
    refdir    = 'reference_files'
    bin_size  = 1000
    chrs      = null

    truvari_hires_args  = '--refdist 500  --pctseq 0.7 --pctsize 0.7 --pctovl 0.0'
    truvari_lowres_args = '--refdist 5000 --pctseq 0.0 --pctsize 0.0 --pctovl 0.8'
    
    matcha_min_jaccard     = 0.75

    jasmine_max_dist       = 500
    
    truvari_cohort_refdist = 500
    truvari_cohort_pctseq  = 0.7
    truvari_cohort_pctsize = 0.7
    truvari_cohort_bnddist = 500
}

process {

    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = { task.attempt <= 3 && task.errorCount < 10 ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel: samtools  { container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0' }
    withLabel: manta     { container = 'quay.io/biocontainers/manta:1.6.0--h9ee0642_1' }
    withLabel: smoove    { container = 'quay.io/biocontainers/smoove:0.2.5--0' }
    withLabel: cnvnator  { container = 'quay.io/biocontainers/cnvnator:0.4.1--h9c7f56d_2' }
    withLabel: delly     { container = 'quay.io/biocontainers/delly:1.7.3--hd6466ae_0' }
    withLabel: bcftools  { container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1' }
    withLabel: octopusv  { container = 'quay.io/biocontainers/octopusv:0.3.2--pyhdfd78af_0' }
    withLabel: truvari   { container = 'quay.io/biocontainers/truvari:5.4.0--pyhdfd78af_0' }
    withLabel: jasminesv { container = 'quay.io/biocontainers/jasminesv:1.1.5--hdfd78af_0' }

    withLabel:C2M2T2 {
        cpus   =   2
        memory = { 2  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M4T4 {
        cpus   =   2
        memory = { 4  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M8T2 {
        cpus   =   2
        memory = { 8  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M16T4 {
        cpus   =   2
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C4M16T4 {
        cpus   =   4
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C4M32T4 {
        cpus   =   4
        memory = { 32 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C8M16T48 {
        cpus   =   8
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 48 * (2 ** (task.attempt - 1)) + ' h'  }
    }

}

profiles {

    test {
        trace {
            enabled = true
            overwrite = true
            file    = 'trace.txt'
        }
        process {
            errorStrategy  = 'terminate'
            maxRetries     = 0
            cache          = 'lenient'
            resourceLimits = [cpus: 2, memory: '6 GB', time: '8 h']
        }
        executor {
            cpus   = 12
            memory = '6 GB'
        }
        params {
            id        = 'test'
            ped       = "${projectDir}/test/fixtures/test_fam.ped"
            bams      = "${projectDir}/test/fixtures/test_fam.bams"
            ref_fasta = "${projectDir}/test/fixtures/hg19.chr20.fa.gz"
            assembly  = 'hg19'
            callers   = ['MANTA', 'SMOOVE', 'DELLY', 'DELLY_CNV', 'CNVNATOR']
            chrs      = ['20']
            outdir    = "${projectDir}/test/output"
            progdir   = "${projectDir}/test/progress"
        }
        process {
            cpus   = 2
            memory = '4 GB'
            time   = '2 h'
        }
    }

    conda {
        conda.enabled  = true
        singularity.enabled = false
        apptainer.enabled = false
        docker.enabled = false
        // conda.useMamba = true
        process {
            conda = "${projectDir}/environment.yml"
            withLabel: 'manta'    { conda = 'bioconda::manta=1.6.0' }
            withLabel: 'smoove'   { conda = 'bioconda::smoove=0.2.8' }
            withLabel: 'cnvnator' { conda = 'bioconda::cnvnator=0.4.1' }
            withLabel: 'delly'    { conda = 'bioconda::delly=1.7.3' }
            withLabel: 'octopusv' { conda = 'bioconda::octopusv=0.3.2' }
        }
    }

}
