
process {

    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = { task.attempt <= 3 && task.errorCount < 10 ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel: samtools  { container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0' }
    withLabel: manta     { container = 'quay.io/biocontainers/manta:1.6.0--h9ee0642_1' }
    withLabel: smoove    { container = 'quay.io/biocontainers/smoove:0.2.8--h9ee0642_1' }
    withLabel: cnvnator  { container = 'quay.io/biocontainers/cnvnator:0.4.1--h9c7f56d_2' }
    withLabel: bcftools  { container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1' }
    withLabel: octopusv  { container = 'quay.io/biocontainers/octopusv:0.3.2--pyhdfd78af_0' }
    withLabel: truvari   { container = 'quay.io/biocontainers/truvari:5.4.0--pyhdfd78af_0' }
    withLabel: jasminesv { container = 'quay.io/biocontainers/jasminesv:1.1.5--hdfd78af_0' }

    withLabel:C2M2T2 {
        cpus   =   2
        memory = { 2  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M4T4 {
        cpus   =   2
        memory = { 4  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M8T2 {
        cpus   =   2
        memory = { 8  * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M16T4 {
        cpus   =   2
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C4M16T4 {
        cpus   =   4
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C4M32T4 {
        cpus   =   4
        memory = { 32 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4  * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C8M16T48 {
        cpus   =   8
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 48 * (2 ** (task.attempt - 1)) + ' h'  }
    }

}

profiles {

    test {
        trace {
            enabled = true
            file    = 'trace.txt'
        }
        process {
            errorStrategy = 'terminate'
            maxRetries    = 0
            cache         = 'lenient'
        }
        executor {
            cpus   = 2
            memory = '6 GB'
        }
        params {
            id        = 'test'
            ped       = "${projectDir}/test/fixtures/test.ped"
            bams      = "${projectDir}/test/fixtures/test.bams"
            ref_fasta = "${projectDir}/test/fixtures/hg19.chr11_chr20.fa.gz"
            assembly  = 'hg19'
            callers   = ['MANTA', 'CNVNATOR']
            chrs      = ['11', '20']
            outdir    = "${projectDir}/test/output"
            progdir   = "${projectDir}/test/progress"
        }
        process {
            withName: 'MANTA_CALL|SMOOVE_CALL|CNVNATOR_CALL' {
                cpus   = 2
                memory = '4 GB'
                time   = '2 h'
            }
            withLabel: 'C2M16T4' {
                memory = '4 GB'
                time   = '2 h'
            }
        }
    }

    conda {
        conda.enabled = true
        process {
            conda = "${projectDir}/environment.yml"
            withLabel: 'manta'    { conda = 'bioconda::manta=1.6.0' }
            withLabel: 'smoove'   { conda = 'bioconda::smoove=0.2.8' }
            withLabel: 'cnvnator' { conda = 'bioconda::cnvnator=0.4.1' }
            withLabel: 'octopusv' { conda = 'bioconda::octopusv=0.3.2' }
            withLabel: 'truvari'  { conda = 'bioconda::truvari=5.4.0' }
        }
    }

}
