
process {

    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'bahlolab/sv-pipe:dev'

    withName:duphold {
        container = 'brentp/duphold:v0.2.3'
    }

    withLabel:qdnaseq {
        container = null
        module = 'R/3.6.1'
    }

    withLabel:pysam {
        container = 'bahlolab/cavalier-pre:21.10.1'
    }

}